<!DOCTYPE html>
<html>
    <head>
        <title>Swapi-Grow</title>
        <link rel="stylesheet" href="/views/index.css">
    </head>
    <body>
        <h1>Welcome to my swapi app</h1>
        <div>
            <h4>The available endpoints are <a href="/characters">/characters</a>, <a href="/character/luke">/character/{name or id}</a>, or <a href="/planetresidents">/planetresidents</a></h4>
        </div>
        <div>
            <h5>Also note that the /characters endpoint is sortable by applying "?sort={val}" to the end. Valid sort options are name, mass, and height.</h5>
            <h5>The /character/{name or id} endpoint will match first names, last names, and full names. It also works with "-" or "_" between first and last names.</h5>
            <h5>This node app is serving data from a cache that is updated every 30 minutes. If you wish to bypass the cache just add "?source=api" to any endpoint or "&source=api" if a query is already present.</h5>
            <h5>Otherwise the cache is used by default unless the cache is older than 1 hour.</h5>
            <div>For ease of testing: </div>
            <div>
                <a href="/characters?sort=mass">/characters?sort=mass</a>
            </div>
            <div>
                <a href="/characters?sort=name&source=api">/characters?sort=name&source=api</a>
            </div>
            <div>
                <a href="/character/19">/character/19</a>
            </div>
            <div>
                <a href="/character/C-3PO">/character/C-3PO</a>
            </div>
            <div>
                <a href="/character/darth_vader">/character/darth_vader</a>
            </div>
            <div>
                <a href="/planetresidents?source=api">/planetresidents?source=api</a>
            </div>
        </div>
    </body>
</html>