<!DOCTYPE html>
<html>
    <head>
        <title>Swapi-Grow</title>
    </head>
    <body>
        <h1>Welcome to my swapi app</h1>
        <div>
            <h4>The available endpoints are <a href="/characters">/characters</a>, <a href="/character/1">/character/{id}</a>, or <a href="/planetresidents">/planetresidents</a></h4>
        </div>
        <div>
            <h3>Also note that the /characters endpoint is sortable by applying ?sort={val} to the end. Valid sort options are name, mass, and height.</h3>
        </div>
    </body>
</html>